* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    padding: 10px;
    background: #000;
    overflow: hidden;
}

h2 {
    display: inline-block;
    padding-left: 40px;
    margin-right: 10px;
    position: relative;
    font-size: 23px;
    top: 5px;
}

.logo {
    position: absolute;
    left: -37px;
    width: 90px;
    top: -38px;
}


header {
    border-bottom: 1px solid #cbcbcb;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 75px;
    position: relative;
    z-index: 5;
}

.left-header {
    display: flex
}

.map-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: -75px;
    padding-top: 75px;
}

form {
    display: inline-block;
}

.info-box {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    position: absolute;
    top: 85px;
    left: 15px;
    width: 500px;
    color: #2d2d2d;
    padding: 10px 20px;
    display: none;
    font-weight: bold;
    backdrop-filter: blur(3px) brightness(60%);
}

.info-box a {
    color: #174762
}

.info-box li {
    list-style-type: none;
}

canvas {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

.dragging {
    cursor: all-scroll;
}

.levels-container {
    display: inline-block;
    text-align: center;
}

.levels .btn {
    margin: 0 2px;
}

.controls {
    justify-content: space-evenly;
}

.control {
    margin: 0 10px;
}

button.control span {
    padding-left: 10px;
}

.toasts {
    position: absolute;
    width: 95%;
    bottom: 50px;
    margin-left: 2%;
    z-index: 99;
}

.toast {
    margin: 0 auto;
    text-align: center;
}

.zoom-controls {
    position: absolute;
    bottom: 2%;
    right: 2%;
    color: white;
    z-index: 99;
}

.progress-container {
    position: absolute;
    height: 3px;
    margin-top: 2px;
    margin-bottom: -5px;
    z-index: 99;
    display: none;
    width: 100%;
}

.progress {
    height: 5px;
    justify-content: center;
}


#help .modal-footer {
    display: block;
}


h2 a, h2 a:hover {
    text-decoration: none;
    color: #ffffff;
}

.widget {
    display: none;
}

.lang-label {
    height: 100%;
}

.lang-dropdown .dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    min-width: auto;
}

.modal {
    overflow-y: hidden !important;
}

.dropdown-item {
    cursor: pointer;
}

.preview-container {
    position: absolute;
    right: 10px;
    top: 100px;
    width: 400px;
    height: 400px;
    pointer-events: none; 
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid rgb(151, 151, 151);
    backdrop-filter: blur(3px) brightness(60%);
    opacity: 0;
}

.preview {
    position: absolute;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px) brightness(120%);
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.preview-pan {
    position: absolute;
    border: 1px solid rgba(168, 39, 99, 0.618);
    z-index: 2;
    left: 0;
}

.preview-pan-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin: auto;
    top: 0;
    bottom: 0;
}

.preview-img {
    position: absolute;
    backdrop-filter: blur(3px) brightness(60%);
}

@media all and (max-width: 1400px) {
    button.control span {
        display: none;
    }
}

@media all and (max-width: 900px) {
    .control {
        margin: 2px;
    }
}