* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    padding: 10px;
    background: #000;
}

h2 {
    display: inline-block;
    margin: 0 20px;
    padding: 0 40px;
    position: relative;
    font-size: 25px;
}

h2 img {
    position: absolute;
    width: 180px;
    left: -110px;
    top: -55px;
}


header {
    border-bottom: 1px solid #cbcbcb;
    padding: 20px;
}

.map-container {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    position: relative;
}

form {
    display: inline-block;
}

.info-box {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 500px;
    color: #2d2d2d;
    padding: 10px 20px;
    display: none;
    font-weight: bold;
    backdrop-filter: blur(3px) brightness(60%);
}

.info-box li {
    list-style-type: none;
}

canvas {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;

}

.dragging {
    cursor: all-scroll;
}

.levels-container {
    display: inline-block;
    width: 450px;
    text-align: center;
}

.levels .btn {
    margin: 0 2px;
}

.control {
    margin: 0 10px;
}

.toasts {
    position: absolute;
    width: 95%;
    bottom: 50px;
    margin-left: 2%;
    z-index: 99;
}

.toast {
    margin: 0 auto;
    text-align: center;
}

.zoom-controls {
    position: absolute;
    bottom: 2%;
    right: 2%;
    color: white;
    z-index: 99;
}

.progress-container {
    position: relative;
    height: 3px;
    margin-top: 2px;
    margin-bottom: -5px;
    z-index: 99;
    display: none;
    opacity: 0.5;
}

.progress {
    height: 5px;
    justify-content: center;
}
